body{
     margin: 0;     
    height: 100vh;
    width: 100vw;
    display: grid;
   grid-template-columns: 300px 1fr;
}

aside{
    height: 100%;
    background-color: #91C8E4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
  
    
}

header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
}

.topSection{
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 30px;
    align-items: start;
    margin-left: 20px;
}
.proyectsSection{
    display: flex;
 flex-direction: column;
 align-items: center;

}
.headerPro{
    width: 95%;
display: flex;
align-items: flex-start;
margin: 10px;
margin-bottom: 0;
justify-content: space-between;

}
.main{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.rabbit{
    height: 200px;
    width: 200px;
}
.formProyect{
display: flex;
flex-direction: column;
gap: 5px;
}
.formTask{
    height:15vh ;
    width: 50vw;
display: flex;
flex-direction: column;
gap: 5px;
}
.enterTask{
    margin: 2px;
}
.buttons{
   align-self: flex-end;
   
}
.titleTask{
    font-size: 1.3rem;
    opacity: 0.7;
}
.formTask input{
    border: none;
}
.formTask .inputDate{
    border: 1px solid black;
    border-radius: 5px;
}
 input:hover{
    border: 1px solid back;
}
 .buttons{
    display: flex;
    gap: 10px;
}
select{
    align-items: flex-start;
}
.userInfo{
    display: flex;
    align-items: center;
    gap: 5px;
}

.topSection div {
 display: flex;
    align-items: center;
    gap: 5px;
    width: 90%;
    border-radius: 10px;
    padding: 3px;
}
.topSection div:hover{
    background-color: #f2f2f2;
    
}

.headerPro h2{
    margin-top: 0;
    margin-left: 10px;
    margin-bottom: 0;
}
.proyects{
    width: 100%;
}
li{
    width: 95%;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
   border-radius: 10px;
       padding: 3px;

}
 
li:hover{
    background-color: #f2f2f2;
    
}
.hash{
    font-weight: 100;
    font-size: 1.3rem;
}
ul{
    margin: 0;
    padding: 15px;
    padding-right: 0px;
}
.addProyectTask{
    width: auto;
}
.tasks{
    justify-content: flex-start;

    width:300px;
    border-bottom: 1px solid gray;
    border-radius: 0%;
    gap: 10px;
}
.delBtn{
    margin-left: 180px;
}
.divTasks{
    width: 100px;
}